<!-- navbar -->

<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="images/logo.png" alt="" width=30px></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          
          <li class="nav-item ">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#services" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/users">View Customers</a></li>
              <li><a class="dropdown-item" href="/transaction">Transaction Money</a></li>
             
              <li><a class="dropdown-item" href="/transactionhistory">View Transactions</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact" tabindex="-1" aria-disabled="true">Contact</a>
          </li>
        </ul>
       
      </div>
    </div>
</nav>

